header{
    background-color: rgb(95, 173, 119);
    padding: 2%;
}
.superiorHead{
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 2em;
}
.categoria{
    padding-top: 2%;
    font-size: 10px;
    list-style: none;
    display: inline-flex;
    margin: 10px;
    letter-spacing: 6px;
}
a {
    text-decoration: none;
    color: black;
}
.categoria:hover{
    color: rgb(0, 87, 26);
    font-size: 12px;
    text-shadow: 3px 3px 3px rgb(0, 255, 170);
    transition: 0.5s;
}